#spinner {
  align-self: center;
}

#publish-container {
  height: 15em;
  padding: 0 2em;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.publish-graphic {
  height: 4em;
  width: 4em;
}
