@import "./variables";
@import "../components/link-item/link-item.scss";
@import "../components/list-item/list-item.scss";
@import "../components/list-detail-panel/list-detail-panel.scss";

.h-hint {
  align-self: center;
  text-align: center;

  color: $hint;
  font-family: Poppins;
  font-weight: 800;
  font-size: 1em;
}

@mixin button($width, $color) {
  width: $width;
  height: 3em;

  padding: 0 2em;
  margin: 0.5em 0;

  background: $color;
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 56.5px;

  color: #ffffff;
  font-family: Poppins;
  font-weight: 300;
  font-size: 1em;
}

.primary-button-full {
  @include button(30em, $primary);
}

.primary-button-auto {
  @include button(auto, $primary);
}

.delete-button-auto {
  @include button(auto, $warn);
}

.dark-button-auto {
  @include button(auto, $dark);
}

@mixin text-input($width, $color) {
  width: $width;
  height: 3em;

  padding: 0 2em;
  margin: 0.5em 0;

  background-color: $color;
  border: none;
  border-radius: 50em;
}

.text-input-welcome {
  @include text-input(30em, #ffffff);
}

.text-input-modal {
  @include text-input(100%, $light);
}

.text-input-publish {
  @include text-input(100%, #ffffff);
}
